<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/r4fall1/vcxDts1946MeterWeb@v0/component/energyMeter/style.css">
<table class="styled-table">
    <thead>
    <tr>
        <th>Data description</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Water temperature</td>
        <td><span id="waterTemperature">0.00</span> <span>&#176;</span>C</td>
    </tr>
    <tr>
        <td>Total heater operating time</td>
        <td><span id="heaterOperatingTime">0</span></td>
    </tr>
    <tr>
        <td>Actual heater state</td>
        <td><span id="heaterStatus">OFF</span></td>
    </tr>
    </tbody>
</table>

<div class="container">
    <button class="btn" onclick="heaterTest()">Heater test</button>
</div>
<div class="title">
    Details:
</div>
<table class="styled-table">
    <thead>
    <tr>
        <th>Data description</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>A phase voltage</td>
        <td><span id="phase1Voltage">0.0</span> V</td>
    </tr>
    <tr>
        <td>B phase voltage</td>
        <td><span id="phase2Voltage">0.0</span> V</td>
    </tr>
    <tr>
        <td>C phase voltage</td>
        <td><span id="phase3Voltage">0.0</span> V</td>
    </tr>
    <tr>
        <td>AB line voltage</td>
        <td><span id="phase1ToPhase2Voltage">0.0</span> V</td>
    </tr>
    <tr>
        <td>BC line voltage</td>
        <td><span id="phase2ToPhase3Voltage">0.0</span> V</td>
    </tr>
    <tr>
        <td>CA line voltage</td>
        <td><span id="phase3ToPhase1Voltage">0.0</span> V</td>
    </tr>
    </tbody>
</table>
